body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}




#productListingContainer{
	padding:10px 0;
}

.mainIcon{
	padding-right:20px;
}
.mainIcon img{
	width:130px;
	margin-top:1px;
}

.leftNav a img{
	height:60px;
}

.leftNav a{
	text-align: center;
}


/* main page*/
#main{

}

#main .brandLogo{
	h1eight:100px;
}

#main .brandLogo img{
	height:60px;
}

#main .pupularItemCarousel .item{
	height: 250px;
    line-height: 250px;
}

#main .pupularItemCarousel img{
	max-height:250px;
	width:100%;
}

.productListingImage img{
	width:100%;
	height:300px;
}

#main .slide-image {
    width: 70%;
    height:400px!important;
    margin:auto;
}


/* product Page */
.productCaption{
	padding:10px;
}

.caption{
	height:180px;
}

/*product info page*/
.carousel-inner{
	h1eight:400px
}
.productInfoCarousel .slide-image{
	margin:auto;
	height:400px;
}

.reviewImg{
	width:65px
}